body {
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #21222A;
    color: white;
    padding: 10px 20px;
}

.react-svg {
    width: 60px;
}

.fact-list {
    max-width: 400px;
}

.fact-list > li {
    line-height: 20px;
    padding-block: 10px;
}

.fact-list > li::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}

.main-div {
    display: flex;
    flex-direction: column;
    background: #282D35;
    height: 100%;
}

.react-facts {
    margin-right: auto;
    color: lightskyblue;
    font-size: 22px;
    padding-left: 5px;
}

.main-content-div {
    padding: 60px 30px;
    background-image: url("./react.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}